@import "tailwindcss";

html,
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark,
html.dark body {
  background-color: #0a0a0a;
  color: #ededed;
}

